/* Nullifier */
body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', serif;
  height: auto;
}

main{
  width: 100%;
  height: 77.7vh;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
}
.profiles{
  top:10%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  background-color: white;
  z-index: 2;
}
.txt h3{
  position: relative;
  top:0%;
  text-align: center;
}
.txt{
  font-size: 35px;
  display:flex ;
  bottom: 15%;
  background-color:rgba(247, 247, 247, 0.712);
  z-index: 5;
  height: 15%;
  width: 100%;
  position: absolute;
border-radius: 15PX;

}
.profile{
  overflow: hidden;
  margin: 0.16%;
  position: relative;
  width: 33%;
  height: 100%;
  background-color: black;
  z-index: 2;
}
nav li.Connect {
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;

  text-decoration: none;
  color: aliceblue;
  position: absolute;

  right: 0%;
}
nav li.Connect .login{
  align-items: center;
  position: absolute;
  right:0;
  top:100%;
  
  padding: 10px 10px;
  background-color:grey;
}

nav ul {
  position: fixed;
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: lightgray 1px solid;
  background:grey;
  position: fixed;
  height: 6%;
  z-index: 8;
}

nav ul li a {
  font-size: 25px;
  display: block;
  text-align: center;
  margin: 15px;
  color: white;
  text-decoration: none;
  z-index: 5;
} 
nav ul li a:hover{
  color: rgb(26, 63, 110);
}
nav ul li a i {
  position: absolute;
  left: 53%;
}


footer{
  display: fixed;
  position:absolute;
  width: 100%;
  bottom: 30%;
}
FOOTER ul{
  position: relative;
  width: 100%;
  bottom: 30%;
}

 footer ul li{
  display: inline;
  font-size: 200%;
  position: absolute;
  left: 25%;
  bottom: 10%;
  text-align: center;
  color: white;
}
nav li.Connect:not(:hover) .login{
  display: none;
}

footer ul li:nth-child(2){
  left: 35%;
}
footer ul li:nth-child(3){
  left:15%;
}







































































/* ===== FOOTER =====*/

footer{
    z-index: 3;
    bottom: 0%;
    height: 200PX;
    padding: 0;
    margin: 0;
    background: linear-gradient(90deg, #999, black);
    position: relative;
    animation: animate linear 20s infinite;
  }
  footer:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 200px solid transparent;
    border-left: 200px solid #FFF;
    opacity: 0.1;
  }
  
  footer:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 200px solid transparent;
    border-right: 200px solid #FFF;
    opacity: 0.1;
  }
  
  
  footer i:first-child {
    font-size: 180%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    color: white;
  }
  footer i:nth-child(2) {
    font-size: 180%;
    position: absolute;
    bottom: 50%;
    left: 40%;
    color: white;
  }
  footer i:nth-child(3){
    font-size: 180%;
    position: absolute;
    bottom: 50%;
    left: 60%;
    color: white;
  }
  
  @keyframes animate{
    0%{
      filter: hue-rotate(0deg);
    }
    50%{
      filter: hue-rotate(360deg);
    }
    100%{
      filter: hue-rotate(0deg);
    }
  }