*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Rubik', sans-serif;
}
nav{
    position:fixed;
    background-color:rgb(205, 227, 255);
    border-bottom: #4286F5 solid 1px;
    width: 100%;
    z-index: 99;
}
nav ul li a:hover{
    color: rgb(205, 227, 255);
}
nav ul li{
    display: inline-block;
    color: #039be6;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    width: 15%;
    z-index: 99;
}
a{
    color: hsl(221, 44%, 46%);
    z-index:99 ;
    font-size: 25px;
}
nav li a{
    width: 100%;
    display: block;
    z-index:99 ;
}
nav ul li.Connect {
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding: 0;
    width: 3%;
    text-decoration: none;
    color: aliceblue;
    position: absolute;
    right: 0%;
}
nav ul li.Connect img {
    position: absolute;
    height: 100%;
    right: 0;
}
.Connect:hover{
    background-color: hsl(221, 44%, 46%);
}
nav ul li.Connect .login{
    align-items: center;
    position: absolute;
    right:0;
    top:100%;
    
    padding: 5px 5px;
    background-color:hsl(221, 44%, 46%);
}
nav ul li.Connect:not(:hover) .login{
    display: none;
}
nav li:hover:not(:last-child){
    background-color:hsl(221, 44%, 46%);
    color: rgb(205, 227, 255);
    z-index:99 ;
}
nav li:hover a{
    color: rgb(205, 227, 255);
}

/**======= Dropdown ========*/
.sous-menu{
    display: none;
    position: absolute;
    background-color:rgba(255,255, 255, 0.75);
    z-index: 99;
    width: 15%;
}
.sous-menu a{
    color: rgb(205, 227, 255);;
    background-color:hsl(221, 44%, 46%);
    line-height: 50px;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 100%;
    z-index: 99;
}

.sous-menu a:hover{
    background-color:rgb(205, 227, 255);
    color: hsl(221, 44%, 46%);
    z-index: 99;

}


.menu:hover .sous-menu{
    display: block;
    z-index: 99;
}
/** Body */
main{
    Background: linear-gradient(to bottom right,#9AD7F5,#3F51B5);
    position: absolute;
    top: 0px;
    width: 100%;
    height:1000px;
    z-index: 1;
}
.jc{
    justify-content: center;
    width: 100%;
    height: 40%;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-column-gap: 2.5%;
    grid-row-gap: 10%;
    margin-top: 100px;  
    margin-bottom: bottom 60px;   
}

  .waw1 {
    background-color: white;
    background-size:100%;
    background-repeat: no-repeat;
    font-size: 30px;
    text-align: center;
  }
  .waw2 {
    font-size: 30px;
    background-size:100%;
    text-align: center;
    background-color: white;
  }
  .waw3 {
    background-size:100%;
    font-size: 30px;
    text-align: center;
    background-color: white;
  }
.txt{
    margin-top: 60px;
    height:300px ;
    background-color:rgba(255,255, 255, 0.75);
    
}
